    h1 {
        background-color: black;
        color: white;
        text-decoration: underline
    }
    
    h1,h2,h3,ul {text-align: center;}
   
    h1,p {font-weight: bold;}
    
    img {
        width: 200px;
        height: 200px;  
    }
    
    ul {border: 3px solid black;}
    
    